:root {
	--primary: #46a8af; /* #6ab293 */
	--shadow: #255a6e;
	--neutral: #424240;
	--dark: #353431;
	--darker: #2D2C2A;
	--darkest: #252422;
	--error: #ff4128;

	--text: #ffffff;
	--shade: #cecece;
	
	--board-light: #e8e8e8;
	--board-dark: #5ea5aa;

	font-size: 17px;
}

* {
	color: var(--text);
	box-sizing: border-box;
	margin: 0;
}

html {
	background-color: var(--darker);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
	font-size: 17px;

	width: 100%;
	height: 30px;
	padding: 0.5em 0.7em;

	border: none;
	border-radius: 5px;
	background-color: var(--dark);
}
input.error {
	outline: 2px solid var(--error);
}
input.prompt {
	outline: 2px solid var(--primary);
}

label {
	text-align: left;
	font-size: 17px;
	font-weight: bold;
	
	width: 100%;
	margin: 0.2em 0;

	user-select: none;
}

select {
	font-size: 17px;

	width: 100%;
	height: 30px;
	padding: 0 0.7em;

	border: none;
	border-radius: 5px;
	background-color: var(--dark);
}

button {
	font-size: 15px;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0.5em 0.7em;

	outline: none;
	border: none;
	border-radius: 5px;

	box-shadow: -1.5px 1.5px 0px 1.5px var(--shadow);
	color: var(--text);
	background-color: #46a8af;

	transition: all 0.075s ease-in-out;
}
button:hover {
	cursor: pointer;
	
	box-shadow: -2px 2px 0 2px var(--shade);
	color: var(--neutral);
	background-color: var(--text);
}
button:active {
	box-shadow: none !important;
	transform: translate(-2px, 2px);
}

.error {
	font-size: 16px;
	
	color: var(--error);
}
