:root {
	--primary: #46a8af; /* #6ab293 */
	--dark: #424240;
	--darker: #2D2C2A;
	--darkest: #252422;
	--error: #ff4128;
	
	--board-light: #e8e8e8;
	--board-dark: #5ea5aa;
}

* {
	color: white;
	box-sizing: border-box;
	margin: 0;
}

html {
	background-color: var(--darker);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
	font-size: 17px;

	width: 100%;
	height: 30px;
	padding: 0.5em 0.7em;

	border: none;
	border-radius: 5px;
	background-color: #353431;
}
input.error {
	outline: 2px solid var(--error);
}
input.prompt {
	outline: 2px solid var(--primary);
}

button {
	font-size: 15px;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	padding: 0.5em 0.7em;

	outline: none;
	border: none;
	border-radius: 5px;

	color: white;
	background-color: #46a8af;
}
button:hover {
	cursor: pointer;
	
	color: var(--dark);
	background-color: #fff;

	transition: all 0.1s ease-in-out;
}

.error {
	font-size: 16px;
	
	color: var(--error);
}
