.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	padding: 0 1em;
	column-gap: 2em;
}

.container {
	font-size: 18px;

	width: 350px;
	min-width: 350px;
	height: 75vh;
	min-height: 75vh;
	padding: 10px;

	border-radius: 5px;
	background-color: var(--darkest);
}


@media screen and (max-width: 900px) {
	.Home {
		flex-direction: column;
	}
	.container {
		margin-bottom: 1em;
	}
}
