.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
}

.container {
	font-size: 18px;
	width: 350px;
	height: 700px;
	margin: 0 1em;
	padding: 10px;

	border-radius: 5px;
	background-color: var(--darker);
}
