.Move {
	width: 100%;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.Move .turn {
	width: 2em;
	max-width: 2em;
	margin-left: 0.5em;

	text-align: left;

	color: #A8A8A8;
}
.Move .san {
	font-weight: bold;
	text-align: left;
	
	flex-grow: 1;
	margin: 0 2em;

	color:#D8D8D8;
}

.PGNView {
	font-size: 18px;
	width: 350px;
	height: 700px;
	margin: 0 1em;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 5px;
	background-color: #252422;
}

.moves {
	flex-grow: 1;
	
	overflow-y: auto;
	scrollbar-width: thin;
}
.moves .Move:nth-child(odd) {
	background-color: #2D2C2A;
}
.Move {
	border-radius: 5px;
}

.error {
	font-size: 16px;
	
	margin: 0.5em 1em;
	
	color: #ff4128;
}

.PGNView input {
	font-size: 17px;

	width: 100%;
	height: 30px;
	padding: 0.5em 0.7em;

	border: none;
	border-radius: 5px;
	background-color: #353431;
}